@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.heading {
  font-size: 2rem;
  text-align: center;
  margin-top: 1.5rem;
}

.projects {
  padding: 0 1.5rem;
  display: flex;
  flex-direction: column;
  margin-top: 2rem;

  @include tablet {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 1.8rem;
  }

  @include desktop {
    padding: 0 32px;
  }

  &__box1,
  &__box2,
  &__box3,
  &__box4 {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 3rem;
    padding-bottom: 1rem;

    @include tablet {
      width: auto;
    }

    @include desktop {
    }
  }

  &__image1 {
    content: url("../../assets/mydoctorimage.png");
    height: 30vh;
    min-width: 100%;
  }

  &__image2 {
    content: url("../../assets/brainflimage.png");
    height: 30vh;
    min-width: 100%;
  }

  &__image3 {
    content: url("../../assets/bandsiteimage.png");
    height: 30vh;
    min-width: 100%;
  }
  &__image4 {
    content: url("../../assets/travelsiteimage.png");
    height: 30vh;
    min-width: 100%;
  }

  &__subheading {
    font-size: 1.5rem;
    margin: 1rem 0rem;
  }

  &__livelink {
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 500;
    background-color: rgb(86, 86, 249);
    padding: 0.5rem 3rem;
    border-radius: 4px;
    color: white;
    line-height: 4;
  }

  &__githublink {
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 500;
    background-color: rgb(237, 24, 49);
    padding: 0.5rem 2.4rem;
    border-radius: 4px;
    color: white;
    margin-top: 2rem;
  }
}
