@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.about {
  padding: 0 24px;
  display: flex;

  flex-direction: column;
  margin-top: 3rem;
  margin-bottom: 8rem;

  @include tablet {
    flex-direction: row;
    align-items: center;
  }

  &__heading {
    margin-top: 2rem;

    font-size: 3rem;
    text-align: center;
  }

  &__imagebox {
    padding: 5px;

    @include tablet {
      width: 50%;
    }
  }
  &__image {
    content: url("../../assets/aboutimage.jpg");
    height: 50vh;
    margin-bottom: 2rem;
    width: 100%;

    @include tablet {
      width: 80%;
    }
  }

  &__info {
    width: 100%;
    line-height: 1.7;

    font-size: 1.2rem;
    @include tablet {
      width: 50%;
    }
  }
}
